<div class="container">
	<script>
		$('.collapsible').collapsible();
		$('.carousel.carousel-slider').carousel({
			full_width: true
		});
		$(document).ready(function() {
			$('.carousel').carousel();
		});
	</script>


	<ul class="collapsible" data-collapsible="accordion">
		<li>
			<div class="collapsible-header"><i class="material-icons">info_outline</i>About</div>
			<div class="collapsible-body">
				<p>I’m a former futures trader and entrepreneur turned developer.</p>
				<p>I want to find exciting opportunities as a Junior Developer where I can continue to build on my foundations, write some beautiful code and maybe one day be a Stack Overflow god.</p>
				<p>As with many industries, disruptive technology has changed the landscape. No more so has this been more prevalent than in the financial markets, where High-frequency trading now accounts for 50% of volume. As more and more of my fellow traders turned
					into algorithms, I decided to keep my personality and with the “if you can't beat 'em, join 'em attitude”, I joined the fastest growing sector of our economy.</p>
				<p>I secured a place at Makers Academy, a selective fully immersive coding bootcamp dedicated to teaching good practice and ardent disciples of XP and agile programming. Along the way, I've discovered that many, if not all of my skills I've acquired
					are not only transferable but essential to become a top programmer.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i>Skills</div>
			<div class="collapsible-body">
				<div class="container">

					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active"><i class="fa fa-gavel" aria-hidden="true"></i>HARD WORKER</div>
							<div class="collapsible-body">
								<p>I have lived by Malcolm Gladwell's 10,000 hour rule.</p>
								<p>I often worked the European and US sessions while trading. If not trading, I was reading news (which is also a big interest of mine), studying charts or learning new technical trading techniques.</p>
								<p>This grit has been a godsend when learning new technologies, debugging the toughest bugs and solving the hardest problems.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="fa fa-heartbeat" aria-hidden="true"></i>GOOD UNDER PRESSURE</div>
							<div class="collapsible-body">
								<p>In my former life, this meant keeping a cool and rational thought process when positions in the market I took weren't going to plan.</p>
								<p>Keeping a cool head and not allowing myself to be overrun with cortisol has been especially handy when working with new technologies and deadlines.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="fa fa-paint-brush" aria-hidden="true"></i>CREATIVE</div>
							<div class="collapsible-body">
								<p>Technical Analysis was the technique I used to trade with. It has been described as part science, part art. I interpret this as creative problem-solving and believe it to be core to my successful trading. I would innovate and then refine different
									trade ideas, giving me an edge over competitors. The crossovers in coding are numerous and whether it's debugging, software design or vanilla logic, I use it daily and continually learn and experiment with this mental process. I have a creative
									degree and enjoyed putting it to use in my final project. I gave our Werewolves App a clean and polished UI with CSS and Materialize.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i>PERSONABLE</div>
							<div class="collapsible-body">
								<p>My friends (I hope) would describe me as trustworthy with a good sense of humour. I've found it easy to build strong relationships. I was able to secure £140,000 investment in seed capital for my proprietary trading business. I've found this very
									transferable for pair programming which is the core to Makers Academy curriculum. We switched pairs daily. I worked synchronously with many eclectic personalities. I always received positive feedback from my pairs. Invite me in for interview,
									so I can demonstrate this.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li>


			<div class="collapsible-header active"><i class="fa fa-code" aria-hidden="true"></i>PROJECTS</div>
			<div class="collapsible-body" >



				<div class="carousel carousel-slider center" data-indicators="true" >
					<div class="carousel-fixed-item center" >

					</div>
					<div class="carousel-item grey white-text" href="#one!" >


						<H5 class="white-text">WereWolves App</H5>
						<div class="container">
							<div class="description">

								<p>
									We created a mobile phone app for the very popular game (at Makers Academy) Werewolves. If you’ve never heard of it before (like me), <a href="https://vimeo.com/101331825"> this</a> video gives a quick summary…
								</p>
								<p>
									Built over 2 weeks in a team of 4.
								</p>
							</div>

							<div class="buttons">

								<a href="https://github.com/elibar-uk/werewolves_frontend" class="waves-effect grey darken-1 waves-light btn"><i class="fa fa-github" aria-hidden="true"></i> GitHub Front End Repo</a>
								<a href="https://werewolves-two.herokuapp.com/" class="waves-effect grey darken-1 waves-light btn"><i class="fa fa-play" aria-hidden="true"></i> THE GAME</a><br>
							</div>

							<div class="stack">

								<div class="chip">Ionic</div>
								<div class="chip">AngularJS</div>
								<div class="chip">Rails</div>
								<div class="chip">PostgreSQL</div>
							</div>
						</div>



					</div>
					<div class="carousel-item grey darken-1 white-text" href="#two!">

						<H5 class="white-text">Instassism</H5>
						<div class="container">

							<p>
								A weekend project at Makers Academy.
							</p>
							<p>
							A clone of Instagram with a social commentary – users can like their pictures an unlimited amount!</p>
<div class="buttons">
	<a href="https://github.com/harrywynnwill/instagram-challenge" class="waves-effect grey waves-light btn"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>
	<a href="https://instassism.herokuapp.com/" class="waves-effect grey waves-light btn"><i class="fa fa-instagram" aria-hidden="true"></i> Instassism</a><br>

</div>
<div class="stack">

	<div class="chip">Ruby on Rails</div>
	<div class="chip">PostgreSQL</div>
	<div class="chip">AWS</div>
</div>

						</div>
					</div>
					<div class="carousel-item grey white-text" href="#three!">
						<H5 class="white-text">Makers BnB</H5>
						<div class="container">
							<p>
								Built over a week in a team of 4.
							</p>
							<p>
							A clone of AirBnB which allows you to view and book a place to stay.	</p>
							<div class="buttons">

								<a href="https://github.com/llcclarke/makers_bnb" class="waves-effect grey darken-1 waves-light btn"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>
								<!-- <a href="https://werewolves-two.herokuapp.com/" class="waves-effect grey darken-1 waves-light btn"><i class="fa fa-bed" aria-hidden="true"></i> MakersBnb</a> -->
							</div>
<div class="stack">

	<div class="chip">Ruby</div>
	<div class="chip">Sinatra</div>
	<div class="chip">PostgreSQL</div>
</div>


						</div>
					</div>
					<!-- <div class="carousel-item blue white-text" href="#four!">
						<h2>Fourth Panel</h2>
						<p class="white-text">This is your fourth panel</p>
					</div> -->
				</div>



			</div>
		</li>
	</ul>
</div>
