/*.repo {
  border-collapse: collapse;
}

.repo th {
  border-bottom: 1px solid;
}
.repo td, .repo th {
  border-left: 1px solid;

}
.repo td:first-child, .repo th:first-child {
  border-left: 1px solid;
}*/

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
header img {
  max-height: 200px;
   border-style: solid;
    border-width: 5px;
  border-color: white;
}
header {
    text-align: center;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2em;

}
h1 {
  font-family: atomic;
  font-size: 40px
}
.stack{
  margin: 50px;

}

    .parallax-container {
      height: 200px;
    }

.chip{
margin-top: 10px;
}

@font-face {
    font-family: atomic;
    src: url(../fonts/Nexa.otf);
}

.chart {
  padding: 10px;


}

.twitter {
    padding: 10px;
}

.collapsible-body p {
    margin: 0;
    padding: 1rem;
}
